body {
    font-family: "Barlow", sans-serif;
    text-align: center;
    background-color: #f9a825;
}

#wrapper {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-top: 50px;
}

#pokedexDiv {
    background-color: #7f0000;
    min-width: 280px;
    max-width: 430px;
    width: 40vw;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: start;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#typesDiv {
    background-color: #b71c1c;
    width: 150px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    right: 0;
    transition: right 0.7s ease-in;
    overflow: auto;
}

#typesDiv::-webkit-scrollbar {
    width: 15px;
}

#typesDiv::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#typesDiv::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}

#relatedTypeList {
    margin-top: 10px;
    padding-left: 25px;
}

#typesDiv li {
    color: white;
    margin-bottom: 8px;
    text-transform: capitalize;
    cursor: pointer;
}

#searchDiv {
    display: flex;
    width: 90%;
    height: 30px;
    margin: 0 auto;
}

#search {
    font-size: 16px;
    background-color: #b71c1c;
    color: white;
    border: none;
    outline: none;
    flex: 1 0 80%;
    padding-left: 4px;
}

#search::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

#searchButton {
    font-size: 20px;
    background-color: #b71c1c;
    border: none;
    outline: none;
    cursor: pointer;
    flex: 0 0 10%;
    margin: 0;
    align-self: center;
    height: 25px;
    padding-top: 5px;
    ;
}

#searchButton:hover {
    color: rgba(0, 0, 0, 0.3)
}

#results {
    background-color: #b71c1c;
    margin: 20px auto;
    width: 75%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-items: start;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}


/* להגדיל את האייקון שיתפוס את כל הכפתור ואולי אפילו להוציא את ההכפתור */

#imgBox {
    min-width: 170px;
    min-height: 170px;
    width: 80%;
    background-color: #fff;
    align-self: center;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

#pokemonImg {
    min-width: 100%;
    height: auto;
}

#pokemonName {
    align-self: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0;
}

.properties {
    margin: 5px 0;
}

label {
    font-weight: 600;
    text-decoration: underline;
}

#typesUl {
    margin: 0;
}

#typesUl li {
    text-transform: capitalize;
    cursor: pointer;
}

#typesUl li:hover,
.relatedPokemon:hover {
    font-weight: 600;
}

#evolutionLabelDiv {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 16px 12px 2px 12px;
}

label[for="nextButton"],
label[for="prevButton"] {
    font-size: 12px;
    visibility: hidden;
}

label[for="nextButton"],
#nextButton {
    margin-left: auto;
}

#evolutionDiv {
    display: flex;
    padding: 8px;
}

#nextButton,
#prevButton {
    border: 2px solid #7f0000;
    background-color: #b71c1c;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
}

#nextButton:hover,
#prevButton:hover {
    background-color: #7f0000;
}